nav.navBar
  color: #CCC
  display: -webkit-box
  -webkit-box-orient: horizontal
  bottom: 0
  height: 50px

.navBar .button
  > i
    display: block
    width: 100%
    line-height: 16px
    font-size: 16px

.navBar .button
  text-align: center
  display: block
  color: white
  -webkit-box-flex: 2
  margin: 6px
  background: transparent
  > span
    display: block
    font-size: 14px
